@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 1280px;
  margin: 0 auto;
}

.current ._date {
  @apply text-black
}

.selected ._date {
   @apply text-red-600 font-bold
}

._note:hover ._btn-action {
  visibility: visible;
}
._day:hover ._btn-add{
  display: block;
}

/* === Modal === */
button.btn-close {
  width: 12px;
  height: 12px;
  margin-top: 4px;
}
.modal-custom {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(15, 23, 42, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.modal-custom.show {
  visibility: visible;
  opacity: 1;
}
.modal-custom-body {
  opacity: 0;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
  height: max-content;
  transition: all 0.2s ease;
}
.modal-custom.show .modal-custom-body {
  opacity: 1;
}
.modal-custom-body.small {
  width: 33%;
}
.modal-custom-body.medium {
  width: 45%;
}
.modal-custom-body.large {
  min-width: 80%;
}
.modal-custom-body h2 {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-neutral-700);
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .modal-custom-body {
    padding: 20px 16px;
    min-width: 90%;
  }
  .modal-custom-body.small,
  .modal-custom-body.medium,
  .modal-custom-body.large {
    width: 90%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .modal-custom-body.small,
  .modal-custom-body.medium,
  .modal-custom-body.large {
    width: 70%;
  }
}

/* === End Modal === */
