@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 1280px;
  margin: 0 auto;
}

.current ._date {
  @apply text-black
}

.selected ._date {
   @apply text-red-600 font-bold
}

._note:hover ._btn-action {
  visibility: visible;
}
